html, body {
    margin: 0;
    background-image: url('/img/home-wall1.png');
    background-size: cover;
}


#container {
    display: flex;
    flex-direction: row;
}

#about-mdn, #about-dev {
    flex: 1;
}

#vl {
    background-color: coral;
    width: 6px;
}


header {
    /*background-color: darkgrey;*/
    padding: 17px 10px;
    line-height: 70px;
}

header h1 {
    color: cornflowerblue;
    text-align: center;
    font-size: 45px;
}

#text {
    font-weight: bold;
}

div#about-intro {
    color: darkcyan;
    margin-top: 1.2%;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    text-align: center;
    box-sizing: content-box;
    padding: 5px;
    margin-bottom: 30px;
}

p.about-prez {
    width: calc(108vw - 870px);
    color: rgb(100, 149, 237);
    font-weight: bold;
    margin-left: 18px;
}

p.about-api {
    width: calc(95vw - 700px);
    color: coral;
    font-weight: bold;
    padding-left: 10px;
    list-style: inside;
}

div.about-js-api {
    width: calc(95vw - 700px);
    color: coral;
}

p.about-js {
    width: calc(95vw - 700px);
    color: coral;
    font-weight: bold;
    padding-left: 10px;
    list-style: inside;
}

.vl {
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 350px;
}

p.fa {
    position: relative;
    top: 5px;
    left: 5px;
}

div.about-api {
    margin-top: 30px;
}

p.fa h2 {
    border-left: 20px solid;
}

.fa {
    display: inline-block;
    color: cadetblue;
}

h2.about-prez {
    padding-left: 40px;
    background: url('/img/arrow.png') no-repeat;
    background-size: 20px;
    background-position: 12px -1px;
    background-repeat: no-repeat;
    color: coral;
}

div.left-arrow {
    content: '\25BA';
}

.right-arrow:before {
    content: '\25BA';
}

div#about-separator {
    width: calc(110vw - 870px);
}

div.about-mdn img {
    margin-left: 50px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

h2.about-js-prez {
    padding-left: 40px;
    background: url('/img/arrow.png') no-repeat;
    background-size: 20px;
    background-position: 12px -1px;
    background-repeat: no-repeat;
    color: coral;
}

ul.about-git-list {
    width: calc(95vw - 870px);
    color: coral;
    font-weight: bold;
    /*padding-left: -10px;*/
}

h2.about-git-prez {
    padding-left: 40px;
    background: url('/img/arrow.png') no-repeat;
    background-size: 20px;
    background-position: 12px -1px;
    background-repeat: no-repeat;
    color: coral;
}

p.about-git-liscence {
    width: calc(95vw - 870px);
    color: coral;
    font-weight: bold;
    padding-left: 10px;
    list-style: inside;
}

div#about-git {
    margin-left: 22px;
}

div#about-mdn {
    margin-left: 22px;
}

a {
    margin-left: 22px;
    color: coral;
}

li {
    color: coral;
}
