.card div {
    margin: 0;
    padding: 10px 5px;
    width: 300px;
}

.card-menu h5 {
    font-weight: normal;
    margin: 0;
}

.card h5 {
    color: #42b983;

}

.card img {
    text-align: center;
}

.card .card-img {
    float: left;
    width: 25%;
}

.card .card-menu {
    float: left;
    width: 72%;
    padding-left: 93px;
    font-size: 135%;
}

.card .card-menu hr {
    border-color: AliceBlue;
}
