html, body {
    width: 100px;
}

div {
    width: 320px;
    height: 176px;
    background-image: url(/img/background.jpg);
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
    background-size: 150px;
    background-position: center;
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-image: inherit;
    background-color: transparent;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.beast:hover {
    background-color: #CFF2F2;
}

.beast {
    background-color: #E5F2F2;
}

.reset {
    background-color: #FBFBC9;
}

.reset:hover {
    background-color: #EAEA9D;
}
