html, body {
    margin: 0;
    background: #ffffff;
}

header {
    padding: 40px 25px;
    padding-top: 20px;
    line-height: 64px;
    background: rgb(183, 183, 183);
    color: cadetblue;
    font-weight: bold;
}

div#settings-intro {
    color: darkcyan;
    font-weight: bold;
    padding-left: 5px;
    margin-top: 25px;
    margin-bottom: 13px;
    margin: 10px 310px 5px 5px;
}

h1 {
    margin: 0;
    padding-left: 80px;
    background: url('/img/image256.png') no-repeat;
    background-size: 54px auto;
    background-position: 0 6px;
}

main {
    display: flex;
    box-sizing: border-box;
    padding: 20px 0px 120px;
    width: 100%
}

section {
    flex: 1 0 auto;
}

.grey-bg {
    box-sizing: border-box;
    padding: 20px;
    background: rgb(239, 239, 239);
}


h2:first-child {
    margin-top: 0;
}

h3:first-child {
    margin-top: 20px;
}

.settings-intro {
    margin: 20px 2px 5px;
    padding: 10px;
    background: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

.option-selection h3 {
    padding: 15px;
    background: rgb(195, 195, 195);
    color: rgb(0, 148, 255);
}

.button {
    margin-bottom: 1.5%;
    padding: 0.4em;
    margin-left: 10px;
}

form > div {
    margin-bottom: 20px;
}

label:not(.has-own-label):not(.hidden-label) {
    display: block;
    font-weight: 700;
}

h5 {
    margin-left: 10px;
}

span.local-file-desc {
    margin-left: 10px;
}

div hidden {
    margin-left: 10px;
}

span desc {
    margin-left: 10px;
}

select {
    box-sizing: border-box;
    padding: 7px 7px;
    width: 30%;
    margin-left: 7px;
}

.vertical-align > div {
    display: table-cell;
    vertical-align: middle;
}

.vertical-align label {
    margin-left: 5px;
}

div.icon-info {
    margin-left: 10px;
}

input[type='text'] {
    box-sizing: border-box;
    padding: 2px 5px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    border: 1px solid rgb(218, 218, 218);
    transition: border ease 250ms;
}

div.info-icon {
    margin-left: 10px;
}

span > local-file-desc {
    margin-left: 10px;
}

@media screen and (min-width: 900px) {
    section > div {
        width: calc(105vw - 550px);
    }
}

.div perm-req.text.icon-info {
    margin-left: 5px;
}

@media screen and (max-width: 900px) {
    main {
        display: block;
    }

    section > div {
        margin: 0;
        width: calc(100vw - 550px);
    }

    aside > div {
        margin: 20px 0;
    }
}

@media screen and (max-width: 619px) {
    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 479px) {
    h1, footer a {
        padding-left: 0;
        background: none;
    }

    footer {
        box-sizing: border-box;
        padding-top: 14px;
        line-height: normal;
    }
}

@media screen and (max-width: 344px) {
    h1 {
        font-size: 18px;
    }
}

a:not(.button):hover {
    color: rgb(18, 149, 204);
}

input[type='text'] {
    box-sizing: border-box;
    padding: 2px 5px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    border: 1px solid rgb(218, 218, 218);
    transition: border ease 250ms;
}

input#local-file {
    margin-left: 10px;
}